body {
    font-family: "Lilita One", serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

nav li {
    padding: 5px 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.5s ease;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #1e1e1e;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    padding: 0;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Titre LOCYZZ centré */
#locyzz {
    width: 200px;
    display: block;
    margin: 0 auto;
    height: auto;
}

header nav ul li:first-child {
    flex-basis: 100%;
    text-align: center;
}

/* Effet lien actif */
nav a.active {
    display: inline;
    background-image: linear-gradient(#ffffff, #6c6c6c);
    background-size: 100% 8px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding-bottom: 10px;
}

nav a.active:hover {
    background-image: linear-gradient(#6c6c6c, #ffffff);
}

.card.youtube {
    box-shadow: 0 0 15px 3px red;
    border-radius: 10px;
}

.card.discord {
    box-shadow: 0 0 15px 3px #3b3ae9;    ;
    border-radius: 10px;
}

.card.tiktok {
    box-shadow: 0 0 15px 3px #1d1f24;
    border-radius: 10px;
}

.card.instagram {
    box-shadow: 0 0 15px 3px #903cd2;
    border-radius: 10px;
}

